<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/stylesheets/jsonview.bundle.css">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
      <div id="jsondata" data-attr="<%= game %>">
        <%= game %>
      </div>
  </p>
</body>
<script type="text/javascript" src="/javascripts/jsonview.bundle.js"></script>
<script>
  var jsondata = document.getElementById('jsondata').getAttribute('data-attr');
  console.log(jsondata);
  const tree = JsonView.createTree(jsondata);
  JsonView.render(tree, document.querySelector('#jsondata'));
  JsonView.expandChildren(tree);
</script>

</html>