<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/stylesheets/jsonview.bundle.css">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> today is:
    <span><%= date %></span>
      <button id="getGames" onclick="getData()">get games data</button>
      <button id="getGames" onclick="getFData()">get fxitures data</button>
      <div>
        <h4>Order Generator</h4>
      </div>
      <div>
        <p>your order:</p>
        <div id="userCurrentOrder">

        </div>
      </div>
      <div id="jsondata" data-attr="<%= game %>">
      </div>
      <div id="fixtures" data-attr="<%= fixtures%>">
      </div>
  </p>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/jsonview.bundle.js"></script>
<script>
  document.querySelector('#jsondata').innerHTML = '';
  var jsondata = document.getElementById('jsondata').getAttribute('data-attr');
  var gamesToday = JSON.parse(jsondata);
  var allGames = gamesToday.games;
  var gameDate = gamesToday.date;
  for (let i = 0; i < allGames.length; i++) {
    var gameLine = allGames[i];
    var league = gameLine.league.name;
    var country = gameLine.league.country;
    var logo = gameLine.league.logo;
    var bet = gameLine.bookmakers[0].bets[0].name;
    var odds_home = gameLine.bookmakers[0].bets[0].values[0].odd;
    var odds_drew = gameLine.bookmakers[0].bets[0].values[1].odd;
    var odds_away = gameLine.bookmakers[0].bets[0].values[2].odd;
    document.querySelector('#jsondata').innerHTML = document.querySelector('#jsondata').innerHTML + `<p>${league}-${country}-${bet}: home ${odds_home} | drew ${odds_drew} | away ${odds_away}</p>`;
    document.querySelector('#jsondata').innerHTML = document.querySelector('#jsondata').innerHTML + `
    <button value="${odds_home}" fixture="${gameDate}@${gameLine.fixture.id}" win="0" mount="100" onClick="createOrder(this)">${odds_home}</button>
    <button value="${odds_drew}" fixture="${gameDate}@${gameLine.fixture.id}" win="1" mount="100" onClick="createOrder(this)">${odds_drew}</button>
    <button value="${odds_away}" fixture="${gameDate}@${gameLine.fixture.id}" win="2" mount="100" onClick="createOrder(this)">${odds_away}</button>`
  }
</script>
<script>
  document.querySelector('#fixtures').innerHTML = '';
  var jsondata = document.getElementById('fixtures').getAttribute('data-attr');
  var gamesToday = JSON.parse(jsondata);
  var allFixtures = gamesToday.fixtures;
  var fixturesString = ``;
  for (let i = 0; i < allFixtures.length; i++) {
    let fDate = allFixtures[i];
    let fixture = `  <div class="container">
        <h4><img src="${fDate.league.logo}" style="height:20px; width:20px;"/><b>${fDate.league.name}</b> --- <span>${fDate.fixture.status.long}<span></h4>
        <p>${fDate.teams.home.name} ${fDate.goals.home} - ${fDate.goals.away} ${fDate.teams.away.name}</p>
    </div>`;
    fixturesString = fixturesString + fixture;
  }
  document.querySelector('#fixtures').innerHTML = fixturesString;
</script>
<script>
  function getData() {
    $.ajax({
      url: "/actions/getGames?date=2022-08-31"
    }).done(function (res, error) {
      console.log(res);
      if (!error) {
        console.log(res);
      }
    });
  }
  function getFData() {
    $.ajax({
      url: "/actions/getFixtures?date=2022-08-19"
    }).done(function (res, error) {
      console.log(res);
      if (!error) {
        console.log(res);
      }
    });
  }
</script>
<script>
  function createOrder(obj) {
    let orderToCreate = {
      "fixture_id": obj.getAttribute("fixture"), // the fixture id that related to this order
      "fixtures_ids": [], // if multiple fixtures added to this order
      "bet_result": Number(obj.getAttribute("win")), // bet result: 0 is host win, 1 is draw, 2 is away win
      "odd_rate": Number(obj.value), // rate
      "odd_mount": Number(obj.getAttribute("mount")), // the total money that user bet
      "win_return": Number(obj.getAttribute("mount") * obj.value), // returns the money if wins
      "is_win": false, // is user win this order
      "state": "pending", // order status: pending, canceled, completed
      "fixture_state": "notstarted", // fixture's state: notstarted, canceled, finished
      "fixture_states": [],
      "actual_return": 0, // the user actual mount get,
      "user_name": "albertlab"
    }
    alert('send request to create order');
    $.ajax({
      type: "POST",
      url: "/order",
      dataType: "json",
      data: orderToCreate
    }).done(function (res, error) {
      console.log(res);
    });
  }
</script>
<script>
  $.ajax({
    type: "GET",
    url: "/user/?user_name=albertlab"
  }).done(function (res, error) {
    console.log(res);
    if (res.id) {
      // fetching the related order
      console.log(res.order_ids);
      let postData = {
        "ids": res.order_ids
      }
      $.ajax({
        type: "POST",
        url: "/order/orders",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(postData)
      }).done(function (res, error) {
        if (res && res.length > 0) {
          let ids = [];
          for (let i = 0; i < res.length; i++) {
            ids.push(res[i].id);
          }
          let dataToSend = {
            user_name: 'albertlab',
            ids: ids
          };
          $.ajax({
            type: "POST",
            url: "/actions/bulkUpdateOrder",
            dataType: "json",
            data: dataToSend
          }).done(function (res, error) {
            console.log(res);
          });
          let order_result = ``;
          for (let i = 0; i < res.length; i++) {
            const order = res[i];
            order_result += `<p>${order.id} - </p>`;
            order_result += `<p>${order.fixture_id} @${order.odd_rate}</p>`;
            order_result += `<p>expected return: ${order.win_return} status <span style="background-color:${order.state == 'pending' ? 'yellow' : 'green'}">${order.state}</span> <span>${order.is_win ? 'Win &#128154;' : 'Lost &#127545;'}</span></p>`;
            order_result += `<p></p>`
          }
          document.getElementById('userCurrentOrder').innerHTML = order_result;
        }
      });
    }
  });
</script>

</html>